.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__hr {
  border: none;
  margin-top: 30px;
  margin-bottom: 9px;
  height: 4px;
  width: 135px;
  background: #252A31;
  border-radius: 100px;
}