.check {
  padding-left: 1.2em;
  display: block;
	margin-bottom: 0.5em;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-top: -0.15em;
  margin-left: -1em;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.15em #DADADA;
}

/* Checked */

.check__box1 {
  box-shadow: 0 0 0 0.15em #4A90E2;
  background-color: #4A90E2;
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow:
    0 0 0 0.15em #DADADA,
    0 0 0 0.2em #4A90E2;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper__item {
  position: relative;
  opacity: 0.5;
  order: 1;
}

.wrapper__item:hover .wrapper__delete {
  left: 95%;
}

.wrapper__delete {
  border: none;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 19px 0;
  align-items: center;
  min-height: 60px;
}

.content__first {
  display: flex;
}

.content__title {
  padding-left: 18px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #000;
  max-width: 240px;
  word-wrap: break-word;
  font-weight: 400;
}

.content__category {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.content__hr {
  height: 1px;
  width: 260px;
  background-color: #000;
  opacity: 0.2;
  position: relative;
  left: 42px;
}